/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2021, 14:48:59
    Author     : ygor.oliveira
*/


body{
    background-color: #FFFFFF;
    text-align: center;
}

.menu-opcoes ul li {
    padding: 2px 10px;
    display: inline-block;


    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

.menu-opcoes ul li :hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #AFEEEE;
}

h1 { 
    font-family: "Brush Script MT", cursive; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color: #66CDAA;
}

.table{
  margin-left: 50%;
  margin-right: 50%;
}

thead{
    background-color: #1E90FF;
}

thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td{
    padding: 0.3em;
}

tr:nth-child(2n){
    background-color: #ccc;
}

td:first-child{
    font-style: italic; 
}