/* 
    Document : Pesquisa
    Author   : Ygor Oliveira | Yasmim Candelária | Juan Dias
*/
.table{
  margin-left: 50%;
  margin-right: 50%;
}

thead{
    background-color: #3990D5;
    color: white;
}

thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td{
    padding: 0.3em;
}

tr:nth-child(2n){
    background-color: #ccc;
}

td:first-child{
    font-style: italic; 
}