<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Servlet.Cliente.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>Servlet.Cliente.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>Servlet.Cliente.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>Servlet.Produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>Servlet.Produto.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>Servlet.Produto.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>Servlet.Venda.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>Servlet.Venda.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCarrinho</servlet-name>
        <servlet-class>Servlet.Venda.ExcluirCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAnaliticoServlet</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioAnaliticoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFiliais</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioFiliais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCategorias</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDataServlet</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDataAnaliticoServlet</servlet-name>
        <servlet-class>Servlet.Venda.RelatorioDataAnaliticoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/CarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCarrinho</servlet-name>
        <url-pattern>/ExcluirCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/RelatorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAnaliticoServlet</servlet-name>
        <url-pattern>/RelatorioAnaliticoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFiliais</servlet-name>
        <url-pattern>/RelatorioFiliais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCategorias</servlet-name>
        <url-pattern>/RelatorioCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDataServlet</servlet-name>
        <url-pattern>/RelatorioDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDataAnaliticoServlet</servlet-name>
        <url-pattern>/RelatorioDataAnaliticoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
